/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* 
font-family: 'Gruppo', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #263238;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
header h1 {
  padding-left: 200px;
  padding-top: 40px;
}

header nav {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
}

header #menu,
header nav #fechar {
  display: none;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  background-color: #fff;
  display: inline-block;
  padding: 20px 100px;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}
header nav ul li a {
  font-family: arial;
  color: #000;
  text-decoration: none;
  font-size: 12pt;
  text-transform: capitalize;
}
header nav ul li:hover {
  background-color: crimson;
}

header nav ul li:hover > a {
  color: #fff;
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main #painel {
  height: 400px;
  background-image: url("../img/loja2.jpg");
  background-size: 100%;
  background-position: 0px -300px;
}

footer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #263238;
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  padding: 50px;
}
footer #redes,
footer #end {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}
footer #end {
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
}
footer #redes ul {
  list-style: none;
}
footer #redes ul li {
  display: inline-block;
}
footer #redes ul li a {
  color: #fff;
  text-decoration: none;
}
footer #redes ul li a i {
  font-size: 30px;
  color: #fff;
  margin: 10px;
}

main #faixahome1 {
  padding: 50px 100px;
  background-color: rgba(240, 240, 240, 0.9);
}

main #faixahome1 h2 {
  font-family: "Montserrat", sans-serif;
  margin: 20px;
}

main #faixahome1 div {
  font-family: "Montserrat", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 30px;
  text-align: justify;
}

main #faixahome2 {
  background-color: #fff;
  padding: 100px;
  margin: 400px 0px;
}

main #faixahome2 h2 {
  font-family: "Montserrat", sans-serif;
  margin: 40px;
  text-align: center;
  font-size: 30pt;
}

main #faixahome2 #clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
main #faixahome2 #clientes div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 10px;
}

main #faixahome3 {
  background-color: #fff;
  padding-top: 100px;
}
main #faixahome3 h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
}
main #faixahome3 div iframe {
  width: 100%;
  height: 700px;
}

main #sala h3,
main #cozinha h3,
main #quarto h3,
main #banheiro h3,
main #jantar h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40pt;
  font-weight: lighter;
  text-align: center;
  padding: 50px 0px;
  color: rgba(0, 0, 0, 0.4);
}

main #sala h2,
main #cozinha h2,
main #quarto h2,
main #banheiro h2,
main #jantar h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40pt;
  text-align: center;
  padding-top: 60px;
  color: rgba(0, 0, 0, 0.9);
}

main #sala div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; /*quebra de linha*/
}
main #sala div img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 32%;
  height: auto;
  opacity: 0.8;
  cursor: pointer; /*mouse no formato de hand(mao)*/
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}
main #sala div img:hover {
  opacity: 1;
}

main #cozinha #conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
main #cozinha #destaque {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main #cozinha #destaque img {
  width: 100%;
  height: auto;
}
main #cozinha #miniatura {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
main #cozinha #miniatura img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 32%;
  height: auto;
  margin: 5px;
}

main #quarto div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #263238;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* o que passa da div é ocultado */
  overflow: hidden;
}
main #quarto div img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  height: auto;
  /* realizar o efeito de inclinação nas imagens */
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
  margin: 5px;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

main #quarto div img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  transform: skewX(0deg);
  /* fazer a imagem ficar sobre as outras */
  z-index: 1000;
}

main #banheiro #area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px dotted silver;
}
main #banheiro #area div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px #666;
  box-shadow: 5px 5px 10px #666;
  text-align: center;
  padding: 40px 0px 100px 0px;
  margin: 5px;
}
main #banheiro #area div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

main #jantar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
main #jantar div img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 15%;
}

main form {
  width: 40%;
  padding: 20px;
  margin: 30px auto;
}
main form input,
main form textarea {
  width: 90%;
  padding: 10px;
  display: block;
  margin: 5px;
}
main form textarea {
  height: 200px;
}

main form input[type="submit"] {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}
/* ------ break points para o projeto ---------------*/
/* Telas de smartphones */
@media (min-width: 0px) and (max-width: 575.98px) {
  header h1 {
    padding: 0;
    text-align: center;
  }
  main #painel {
    height: 100px;
    background-position: 0px -20px;
  }

  header nav {
    background-color: #000;
    height: 100vh; /*v(viewport) h(height); 100% da altura da tela do dispositivo que abre*/
    position: fixed;
    /* fazer a barra iniciar no topo do navegador e do lado de fora
          a esquerda do navegador */
    top: 0;
    left: -250px;
    width: 200px;
    padding-top: 100px;
    text-align: left;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
  }

  header nav ul li {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000;
  }

  header nav ul li a {
    color: #fff;
  }
  header #menu,
  header nav #fechar {
    display: block;
  }
  header #menu {
    position: fixed;
    top: 10px;
    left: 10px;
  }
  header nav #fechar {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

/* Telas de tablets */
@media (min-width: 576px) and (max-width: 767.98px) {
  header h1 {
    padding: 0;
    text-align: center;
  }
  main #painel {
    height: 250px;
    background-position: 0px -80px;
  }
  header nav {
    background-color: #000;
    height: 100vh; /*v(viewport) h(height); 100% da altura da tela do dispositivo que abre*/
    position: fixed;
    /* fazer a barra iniciar no topo do navegador e do lado de fora
      a esquerda do navegador */
    top: 0;
    left: -250px;
    width: 200px;
    padding-top: 100px;
    text-align: left;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    z-index: 10000;
  }

  header nav ul li {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000;
  }

  header nav ul li a {
    color: #fff;
  }
  header #menu,
  header nav #fechar {
    display: block;
  }
  header #menu {
    position: fixed;
    top: 10px;
    left: 10px;
  }
  header nav #fechar {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /*Formatação para o Home*/
  main #faixahome1 div {
    padding-left: 10px;
    padding-right: 10px;
  }
  main #faixahome1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  main {
    background-image: url("../img/sala_jantar2.jpg") !important;
    background-size: 200% !important;
    background-position: center center;
  }

  /*Formatação para a página projetos*/
  main #sala,
  main #cozinha,
  main #quarto,
  main #banheiro,
  main #jantar {
    background-color: #fff;
  }
  main #sala div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  main #sala div img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 60%;
    height: auto;
    opacity: 1;
    margin: 5px;
  }
  main #cozinha #destaque {
    -webkit-box-flex: 1.51;
    -ms-flex: 1.51;
    flex: 1.51;
  }

  main form {
    width: 90%;
  }
  main form input[type="submit"] {
    width: 15%;
  }
}

/* Telas de desktop */
@media (min-width: 768px) and (max-width: 991.98px) {
  header nav {
    width: 100%;
  }

  /*Formatação para a página home nas faixas 1 e 2*/
  main #faixahome1 div {
    padding-left: 10px;
    padding-right: 10px;
  }
  main #faixahome1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  main #faixahome2 #clientes div {
    width: 40%;
    text-align: center;
  }
  main #faixahome2 #clientes div img {
    width: 250px;
  }
  .ajustePHome {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Formatação da tela de projetos */
  main #cozinha #destaque {
    -webkit-box-flex: 1.51;
    -ms-flex: 1.51;
    flex: 1.51;
  }
  main form {
    width: 90%;
  }
}
